policy_module(exosis, 1.100.1)

########################################
#
# Declarations
#

type exosis_t;
type exosis_exec_t;
init_daemon_domain(exosis_t, exosis_exec_t)

permissive exosis_t;

type exosis_initrc_exec_t;
init_script_file(exosis_initrc_exec_t)

type exosis_conf_t;
files_type(exosis_conf_t)

type exosis_var_lib_t;
files_type(exosis_var_lib_t)

type exosis_var_run_t;
files_type(exosis_var_run_t)

type exosis_port_t;
corenet_port(exosis_port_t)

########################################
#
# exosis local policy
#
allow exosis_t self:process { fork };

allow exosis_t self:fifo_file rw_fifo_file_perms;
allow exosis_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(exosis_t, exosis_conf_t, exosis_conf_t)
manage_files_pattern(exosis_t, exosis_conf_t, exosis_conf_t)

manage_dirs_pattern(exosis_t, exosis_var_lib_t, exosis_var_lib_t)
manage_files_pattern(exosis_t, exosis_var_lib_t, exosis_var_lib_t)
files_var_lib_filetrans(exosis_t, exosis_var_lib_t, { dir file })

manage_dirs_pattern(exosis_t, exosis_var_run_t, exosis_var_run_t)
manage_files_pattern(exosis_t, exosis_var_run_t, exosis_var_run_t)

sysnet_dns_name_resolve(exosis_t)
corenet_all_recvfrom_unlabeled(exosis_t)

allow exosis_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(exosis_t)
corenet_tcp_sendrecv_generic_node(exosis_t)
corenet_tcp_sendrecv_all_ports(exosis_t)
corenet_tcp_bind_generic_node(exosis_t)

gen_require(`
    type exosis_port_t;
')
allow exosis_t exosis_port_t:tcp_socket name_bind;

gen_require(`
    type exosis_port_t;
')
allow exosis_t exosis_port_t:tcp_socket name_connect;

domain_use_interactive_fds(exosis_t)

files_read_etc_files(exosis_t)

miscfiles_read_localization(exosis_t)

sysnet_dns_name_resolve(exosis_t)

allow exosis_t exosis_exec_t:file execute_no_trans;
allow exosis_t self:process setsched;
corecmd_exec_ls(exosis_t)
corenet_tcp_connect_http_port(exosis_t)
dev_read_urand(exosis_t)
fs_getattr_xattr_fs(exosis_t)
kernel_read_system_state(exosis_t)
