# It is not recommended to modify this file in-place, because it will
# be overwritten during package upgrades. If you want to add further
# options or overwrite existing ones then use
# $ systemctl edit exosisd.service
# See "man systemd.service" for details.

# Note that almost all daemon options could be specified in
# /etc/exosis/exosis.conf

[Unit]
Description=exosis daemon
After=network.target

[Service]
ExecStart=/usr/bin/exosisd -daemon -conf=/etc/exosis/exosis.conf -pid=/run/exosisd/exosisd.pid
# Creates /run/exosisd owned by exosis
RuntimeDirectory=exosisd
User=exosis
Type=forking
PIDFile=/run/exosisd/exosisd.pid
Restart=on-failure
PrivateTmp=true

[Install]
WantedBy=multi-user.target
